article.worst_mug_ad {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    border: solid hotpink;
    border-width: 1em;
    width: 360px;
}

section.adPicture {
    display: flex;
    flex-wrap: wrap;
    border: solid rgba(0, 99, 16, 0.74);
    width: 250px;
    margin: 0.1em;
}

section.advertisement {
    display: flex;
    flex-wrap: wrap;
    border: solid indianred;
    width: 75px;
    padding: 0.5em;
    margin: 0.1em;
}