article.worst_mug_ad {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    border: solid hotpink;
    border-width: 35px;
    background-color: royalblue;
    height: 540px;
}

section.adPicture {
    display: flex;
    flex-wrap: wrap;
    border: solid rgba(230, 255, 4, 0.986);
    border-width: 20px;
    width: 300px;
    overflow: visible;
}

section.advertisement {
    display: flex;
    flex-wrap: wrap;
    border: solid rgb(55, 194, 0);
    border-width: 20px;
    width: 75px;
    padding: 0.3em;
    margin-top: 0em;
}

section.advertisement p {
    margin-top: 0px;
}

.mug_img img:hover {
    height: 700px;
}
