.container-top {
    display: flex;
}

.container-top--foooter {
    flex: 4
}
footer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: yellow;
    font-size: large;
    
}