.container-top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.container-top--foooter {
    flex-wrap: wrap;
}

footer p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: yellow;
    background-color: teal;
    font-size: large;
}