article.coffee_mug_header {
    display: flex;
}
        #spinner {
        text-align: center;
        animation-name: spin, depth;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-duration: 45s;
      }
      @keyframes spin {
        from { transform: rotateY(0deg); }
        to { transform: rotateY(-360deg); }
      }
      @keyframes depth {
        0% { text-shadow: 0 0 black; }
        25% { text-shadow: 1px 0 black, 2px 0 black, 3px 0 black, 4px 0 black, 5px 0 black; }
        50% { text-shadow: 0 0 black; }
        75% { text-shadow: -1px 0 black, -2px 0 black, -3px 0 black, -4px 0 black, -5px 0 black; }
        100% { text-shadow: 0 0 black; }
   
}
#title {
    text-align: center;
    animation-duration: 45s;
    animation-name: slidein;
    animation-iteration-count: 3;
}
    @keyframes slidein {
        from {
          margin-left: 100%;
          width: 300%;
        }
      
        to {
          margin-left: 0%;
          width: 100%;
}