.slideshow {
    display: flex;
    max-width: 1375px;
    height: 500px;
    overflow: scroll;
    border: 20px purple;
    border-style: dashed double;
    background-color: royalblue;
}

.slideshow__img img {
    max-height: 470px;
    margin: 5px;
}

.slideshow__img img:hover {
    width: 700px;
    border: dotted 5px purple;
}